<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<em>&nbsp; &nbsp; &nbsp; &nbsp; <span style="text-decoration: underline;">Fiche De Paie</span></em></p>
<p><em>Mois de:&nbsp;</em></p>
<p><em>Matricule: {{ employe.matricule }}</em></p>
<p>&nbsp;</p>
<table style="height: 104px;" width="480">
    <tbody>
    <tr>
        <td style="width: 232px;">Nom &amp; Prenom</td>
        <td style="width: 232px;">{{ employe.nom }}   {{ employe.prenom }}</td>
    </tr>
    <tr>
        <td style="width: 232px;">N&deg;CNSS</td>
        <td style="width: 232px;">{{ employe.cnss }}</td>
    </tr>
    <tr>
        <td style="width: 232px;">Situation Familiale</td>
        <td style="width: 232px;">{{ employe.statutfamilial }}</td>
    </tr>
    <tr>
        <td style="width: 232px;">Qualification</td>
        <td style="width: 232px;">{{ employe.diplome }}</td>
    </tr>
    <tr>
        <td style="width: 232px;">Recrut&eacute; le</td>
        <td style="width: 232px;">{{ employe.datedebuttravail ? employe.datedebuttravail|date('Y-m-d') : '' }}</td>
    </tr>
    </tbody>
</table>
<p>&nbsp;</p>
<table style="width: 681px; height: 292px;">
    <tbody>
    <tr style="height: 18px;">
        <td style="width: 161px; height: 18px;"><span style="background-color: #ccffff;"><span style="background-color: #ffff99;">Rubrique</span></span></td>
        <td style="width: 134px; height: 18px;"><span style="background-color: #ffff99;">Base</span></td>
        <td style="width: 121px; height: 18px;"><span style="background-color: #ffff99;">Taux</span></td>
        <td style="width: 115px; height: 18px;"><span style="background-color: #ffff99;">Nombre</span></td>
        <td style="width: 116px; height: 18px;"><span style="background-color: #ffff99;">Montant</span></td>
    </tr>
    <tr style="height: 18px;">
        <td style="width: 161px; height: 18px;">Pr&eacute;sence th&eacute;orique du mois</td>
        <td style="width: 134px; height: 18px;">208</td>
        <td style="width: 121px; height: 18px;">&nbsp;</td>
        <td style="width: 115px; height: 18px;">&nbsp;</td>
        <td style="width: 116px; height: 18px;">&nbsp;</td>
    </tr>
    <tr style="height: 18px;">
        <td style="width: 161px; height: 18px;">Salaire base</td>
        <td style="width: 134px; height: 18px;">{{ employe.salairedebase }}</td>
        <td style="width: 121px; height: 18px;">&nbsp;</td>
        <td style="width: 115px; height: 18px;"></td>
        <td style="width: 116px; height: 18px;">&nbsp;</td>
    </tr>
    <tr style="height: 15px;">
        <td style="width: 161px; height: 15px;">H Supp 1</td>
        <td style="width: 134px; height: 15px;">&nbsp;</td>
        <td style="width: 121px; height: 15px;">&nbsp;</td>
        <td style="width: 115px; height: 15px;">&nbsp;</td>
        <td style="width: 116px; height: 15px;">&nbsp;</td>
    </tr>
    <tr style="height: 18px;">
        <td style="width: 161px; height: 18px;">H Supp 2</td>
        <td style="width: 134px; height: 18px;">&nbsp;</td>
        <td style="width: 121px; height: 18px;">&nbsp;</td>
        <td style="width: 115px; height: 18px;">&nbsp;</td>
        <td style="width: 116px; height: 18px;">&nbsp;</td>
    </tr>
    <tr style="height: 18px;">
        <td style="width: 161px; height: 18px;">Prime de d&eacute;placement</td>
        <td style="width: 134px; height: 18px;">&nbsp;</td>
        <td style="width: 121px; height: 18px;">&nbsp;</td>
        <td style="width: 115px; height: 18px;">&nbsp;</td>
        <td style="width: 116px; height: 18px;">&nbsp;</td>
    </tr>
    <tr style="height: 18px;">
        <td style="width: 161px; height: 18px;">Ind&eacute;mnit&eacute; de transport</td>
        <td style="width: 134px; height: 18px;">&nbsp;</td>
        <td style="width: 121px; height: 18px;">&nbsp;</td>
        <td style="width: 115px; height: 18px;">&nbsp;</td>
        <td style="width: 116px; height: 18px;">&nbsp;</td>
    </tr>
    <tr style="height: 18px;">
        <td style="width: 161px; height: 18px;">Prime de panier</td>
        <td style="width: 134px; height: 18px;">&nbsp;</td>
        <td style="width: 121px; height: 18px;">&nbsp;</td>
        <td style="width: 115px; height: 18px;">&nbsp;</td>
        <td style="width: 116px; height: 18px;">&nbsp;</td>
    </tr>
    <tr style="height: 18px;">
        <td style="width: 161px; height: 18px;">Base CNSS</td>
        <td style="width: 134px; height: 18px;">&nbsp;</td>
        <td style="width: 121px; height: 18px;">&nbsp;</td>
        <td style="width: 115px; height: 18px;">&nbsp;</td>
        <td style="width: 116px; height: 18px;">&nbsp;</td>
    </tr>
    <tr style="height: 22px;">
        <td style="width: 161px; height: 22px;">CNSS</td>
        <td style="width: 134px; height: 22px;">&nbsp;</td>
        <td style="width: 121px; height: 22px;">&nbsp;</td>
        <td style="width: 115px; height: 22px;">&nbsp;</td>
        <td style="width: 116px; height: 22px;">&nbsp;</td>
    </tr>
    <tr style="height: 24px;">
        <td style="width: 161px; height: 24px;">Base imposable</td>
        <td style="width: 134px; height: 24px;">&nbsp;</td>
        <td style="width: 121px; height: 24px;">&nbsp;</td>
        <td style="width: 115px; height: 24px;">&nbsp;</td>
        <td style="width: 116px; height: 24px;">&nbsp;</td>
    </tr>
    <tr style="height: 29px;">
        <td style="width: 161px; height: 29px;">Impot</td>
        <td style="width: 134px; height: 29px;">&nbsp;</td>
        <td style="width: 121px; height: 29px;">&nbsp;</td>
        <td style="width: 115px; height: 29px;">&nbsp;</td>
        <td style="width: 116px; height: 29px;">&nbsp;</td>
    </tr>
    </tbody>
</table>
<table style="width: 673px;">
    <tbody>
    <tr>
        <td style="width: 575px;"><span style="background-color: #ffff99;">Total Salaire</span></td>
        <td style="width: 112px;">&nbsp;</td>
    </tr>
    <tr>
        <td style="width: 575px;">Avance</td>
        <td style="width: 112px;">&nbsp;</td>
    </tr>
    <tr>
        <td style="width: 575px;"><span style="background-color: #ffff99;">Net &agrave; Payer</span></td>
        <td style="width: 112px;">&nbsp;</td>
    </tr>
    </tbody>
</table>